$first: rgb(255,255,255);
$second: rgb(168, 71, 243);
$third: rgb(71, 151, 197);
$fourth: rgb(166, 220, 95);
$fifth: rgba(244, 21, 21, 0.874);
$dark: rgb(0, 0, 0);

$text1: "cusive";
$text2: "monospace";
$text3: "Montserrat";


